version: '3'
services:
  nginx:
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    ports:
      - "8109:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./docker/nginx/log/access.log:/var/log/nginx/access.log
      - ./docker/nginx/log/error.log:/var/log/nginx/error.log
      - ./:/var/www/html
      - ./docker/php/php.ini:/etc/php.ini:cached
    depends_on:
      - web

  web:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - db
      - redis
    tty: true
    # Linux で host.docker.internal を解決（Mac/Windows は元からある）
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db:
    build:
      context: ./docker/mysql
      dockerfile: Dockerfile
    ports:
      - "13309:3306"
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
      - ./docker/mysql/my.conf:/etc/mysql/conf.d/my.cnf
      # - ./docker/mysql/init:/docker-entrypoint-initdb.d
    environment:
      # root ユーザーのパスワードを root に設定
      MYSQL_ROOT_PASSWORD: root
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci

  redis:
    image: redis:latest
    volumes:
      - ./docker/redis/data:/data
    ports:
      - "6409:6379"
    command: redis-server
